/* Hand Wave Animation */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(12deg);
  }

  10% {
    transform: rotate(25deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* For Project Card */
.card {
  width: 490px;
  height: 300px;
  margin-top: 55px;
  perspective: 800px;
}

.container-card:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transition: transform 1500ms; /* Untuk flip card*/
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px black;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-image: url(assets/img/Calculator.png);
}

.back {
  background-color: #ffff;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/* Scroll Text Animation */
.scroll-container {
  overflow: hidden;
}

.scroll-text {
  text-align: left;

  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

/* Style For Coding Skills */
.box-skills {
  height: 50px;
  border-radius: 50px;
  width: 200px;
  margin-bottom: 50px;
  margin-left: 30px;
}

h5 {
  margin-top: 10px;
}

/* For Top Content */
/* Style For Box Greeting */
.box-greeting,
.box-about {
  width: 70rem;
  height: 55rem;
  margin-bottom: 200px;
  margin-top: 50px;
}

/* For Mid Content */
/* Style for Career Title */
.career-title h2 {
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: large;
}

.career-title img {
  width: 30px;
  margin-right: 10px;
}

/* Timeline Content */
.experience ul {
  margin-left: 25px;
}

/* Style For SideNav */
/* Box Profile */
.box-profile {
  width: 295px;
  height: 500px;
  border-radius: 60px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-left: 100px;
}

.box-profile img {
  width: 100px;
}

/* Box SideNav */

.nav img {
  margin-right: 10px;
  width: 30px;
}

/* Contact Us Style */
.contact-box {
  border-radius: 10px;
  width: 200px;
  height: 45px;
  margin-top: 25px;
}

.linkedin {
  background-color: rgba(54, 98, 241, 1);
}

.instagram {
  background-color: rgba(201, 59, 118, 1);
}

/* Home.html */
/* Bottom Content */
.bottom-content h2 {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: large;
}

.bottom-content img {
  width: 30px;
  margin-right: 10px;
}
